* {
  margin: 0;
  padding: 0;
}
.game {
  margin: 20px auto 0;
  padding: 20px;
  width: 500px;
  font: 14px/2 arial, sans-serif;
  color: #fff;
  background: #BBADA0;
}
.game-cmds {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.game-cmds button {
  padding: 5px 10px;
  text-decoration: none;
  font: 16px/2 Arial, sans-serif;
  color: white;
  background-color: #ecc420;
  border: 1px solid #ecc420;
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  outline: none;
  cursor: pointer;
}
.game-cmds button:hover {
  border-color: #f19854;
  background-color: #f19854;
  box-shadow: 0 0 10px #999;
}
.game-moves {
  position: absolute;
  top: 0;
  right: 0;
}
.game-message {
  display: none;
  margin-bottom: 20px;
  padding: 0;
  height: 30px;
  font: bold 20px/1.5 Arial, sans-serif;
  text-align: center;
  color: red;
  opacity: 0.5;
}
.game-2048-board {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 500px;
  height: 500px;
  background-color: #BBADA0;
  /* 样式参考：http://gabrielecirulli.github.io/2048/style/main.css */
}
.game-2048-board .cell {
  position: absolute;
  padding: 5px;
  width: 25%;
  height: 25%;
  box-sizing: border-box;
  transition: all 0.2s;
}
.game-2048-board .cell[data-row="0"] {
  top: 0;
}
.game-2048-board .cell[data-row="1"] {
  top: 25%;
}
.game-2048-board .cell[data-row="2"] {
  top: 50%;
}
.game-2048-board .cell[data-row="3"] {
  top: 75%;
}
.game-2048-board .cell[data-col="0"] {
  left: 0;
}
.game-2048-board .cell[data-col="1"] {
  left: 25%;
}
.game-2048-board .cell[data-col="2"] {
  left: 50%;
}
.game-2048-board .cell[data-col="3"] {
  left: 75%;
}
.game-2048-board .cell i {
  display: block;
  width: 115px;
  height: 115px;
  font-style: normal;
  font-family: Arial, sans-serif;
  font-size: 57.5px;
  font-weight: bold;
  line-height: 115px;
  text-align: center;
  border-radius: 5px;
}
.game-2048-board [num="no"] i {
  background-color: rgba(238, 228, 218, 0.35);
}
.game-2048-board [num="2"] i {
  color: #888;
  background-color: #eee4da;
}
.game-2048-board [num="4"] i {
  color: #888;
  background-color: #ede0c8;
}
.game-2048-board [num="8"] i {
  color: #f9f6f2;
  background-color: #f2b179;
}
.game-2048-board [num="16"] i {
  color: #f9f6f2;
  background-color: #f59563;
}
.game-2048-board [num="32"] i {
  color: #f9f6f2;
  background-color: #f67c5f;
}
.game-2048-board [num="64"] i {
  color: #f9f6f2;
  background-color: #f65e3b;
}
.game-2048-board [num="128"] i {
  font-size: 46px;
  color: #f9f6f2;
  background-color: #edcf72;
}
.game-2048-board [num="256"] i {
  font-size: 46px;
  color: #f9f6f2;
  background-color: #edcc61;
}
.game-2048-board [num="512"] i {
  font-size: 46px;
  color: #f9f6f2;
  background-color: #edc850;
}
.game-2048-board [num="1024"] i {
  font-size: 34.5px;
  color: #f9f6f2;
  background-color: #edc53f;
}
.game-2048-board [num="2048"] i {
  font-size: 34.5px;
  color: #f9f6f2;
  background-color: #edc22e;
}
.game-2048-board [num="super"] i {
  font-size: 28.75px;
  color: #f9f6f2;
  background-color: #3c3a32;
}
